#navbars{

	margin-top:50px;
	padding-right:50px;
	font-family: sans-serif;
	background:grey;
	color: white;
}
#navbars a{

	color: black;
}
#checkbox{
	
	width: 500px;
	height: 220px;
	background: white;
	font-size: 17;
	font-family: sans-serif;
	color: black;
	padding-left: 10px;
	padding-right:10px;
}
#checkbox h2{
	margin: 20px 10px 0px 100px;
	padding-top: 20px;
	font-size: 30px;
	font-family: sans-serif;
}
